<form [formGroup]="form">
    <div class="mb-3 d-flex">
        <input class="form-control" formControlName="search" id="search" placeholder="Type something to translate...">
        <button [disabled]="!search.value || newTranslations.length" type="button" class="btn btn-primary ms-2"
            (click)="searchTranslations()">Search</button>
    </div>
</form>

<div *ngIf="settingsService.settings?.Languages.length" class="d-flex overflow-auto">
    <div *ngFor="let language of settingsService.settings.Languages" class="nav-lang m-3 p-3"
        [ngClass]="{'border border-primary border-2': language.code === selectedLang}"
        (click)="selectLanguage(language.code)">
        {{language.symbol}}
    </div>
</div>

<div *ngIf="newTranslations.length" class="mb-3">
    <div *ngFor="let newTranslation of newTranslations">
        <ng-container *ngIf="newTranslation.Lang.code !== selectedLang">
            <span class="me-3">{{newTranslation.Lang.symbol}}</span>
            <span>{{newTranslation.Text}}</span>
            <span *ngIf="newTranslation.Pronunciation">({{newTranslation.Pronunciation}})</span>

        </ng-container>
    </div>
    <button type="button" class="btn btn-success mt-2" (click)="saveNewTranslations()">Add word</button>
</div>

<ng-container *ngIf="filteredTranslations || newTranslations.length; else loading">
    <div *ngFor="let translation of filteredTranslations" class="nav-lang"
        (click)="getRelatedTranslations(translation.word_id)">
        <span>{{translation.text}}</span>

        <div *ngIf="relatedTranslations[translation.word_id]?.opened" class="p-2">
            <div *ngFor="let t of relatedTranslations[translation.word_id].values ">
                <ng-container *ngIf="t.lang.code !== selectedLang">
                    <span class="me-2">{{t.lang.symbol}}</span>
                    <span>{{t.text}}</span>
                    <span *ngIf="t.pronunciation">({{t.pronunciation}})</span>
                </ng-container>
            </div>
        </div>
    </div>
</ng-container>

<ng-template #loading>
    <div class="p-3 text-center">
        <div class="spinner-border" style="width: 3rem; height: 3rem;" role="status">
        </div>

    </div>
</ng-template>
