<form [formGroup]="form">
    <div class="mb-3 d-flex">
        <input class="form-control" formControlName="search" id="search" placeholder="Type something to translate...">
        <button [disabled]="!search.value || newTranslations.length" type="button" class="btn btn-primary ms-2"
            (click)="searchTranslations()">Search</button>
    </div>
</form>

<div *ngIf="settingsService.settings?.Languages.length" class="d-flex overflow-auto">
    <div *ngFor="let language of settingsService.settings.Languages" class="nav-lang m-3 p-3"
        [ngClass]="{'border border-primary border-2': language.code === selectedLang}"
        (click)="selectLanguage(language.code)">
        {{language.symbol}}
    </div>
</div>

<div *ngIf="newTranslations.length" class="mb-3">
    <div *ngFor="let newTranslation of newTranslations">
        <ng-container *ngIf="newTranslation.Lang.code !== selectedLang">
            <span class="me-3">{{newTranslation.Lang.symbol}}</span>
            <span class="fs-3">{{newTranslation.Text}}</span>
        </ng-container>
    </div>
    <button type="button" class="btn btn-success mt-2" (click)="saveNewTranslations()">Add word</button>
</div>

<ng-container *ngIf="(filteredTranslations || newTranslations.length) && !translateService.loading; else loading">
    <div *ngFor="let translation of filteredTranslations" class="nav-lang">
        <div class="d-flex justify-content-between p-2">
            <div (click)="getRelatedTranslations(translation.word_id)" class="flex-grow-1 fs-4">{{translation.text}}
            </div>
            <span (click)="deleteTranslations(translation, confirmDelete)">
                <i class="bi bi-trash3-fill h3"></i>
            </span>
        </div>

        <div *ngIf="relatedTranslations[translation.word_id]?.opened" class="p-2">
            <div *ngFor="let t of relatedTranslations[translation.word_id].values ">
                <ng-container *ngIf="t.lang.code !== selectedLang">
                    <span class="me-2">{{t.lang.symbol}}</span>
                    <span class="fs-3">{{t.text}}</span>
                </ng-container>
            </div>
        </div>
    </div>
</ng-container>

<ng-template #loading>
    <div class="p-3 text-center">
        <div class="spinner-border" style="width: 3rem; height: 3rem;" role="status">
        </div>

    </div>
</ng-template>

<ng-template #confirmDelete let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Confirm delete</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss()"></button>
    </div>
    <div class="modal-body">
        Are you sure that you want to delete ?
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-danger" (click)="modal.close()">Delete</button>
    </div>
</ng-template>
